/* login.css */

/* 전체 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
header {
    background-color: #ffd700;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

/* 테이블 스타일 */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ffd700;
    color: #333;
}

td {
    color: #555;
}

/* 링크 스타일 */
a {
    color: #ffd700;
    text-decoration: none;
}

a:hover {
    color: #333;
}


header {
    background-color: #ffc107;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

